.header {
  height: 100vh;
  width: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 7em;
      text-align: center;

      .gradient {
        background-image: linear-gradient(
          90deg,
          #ffcb43 0%,
          #ff6425 25%,
          #ff4800 50%,
          #ff6425 75%,
          #ffcb43 100%
        );
        background-size: 400%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 4s linear infinite;
      }
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 300;
    }
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
