.quiz {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;

  .confetti {
    position: absolute;
    top: 0;
  }

  .wrapper {
    display: flex;
    gap: 100px;
    width: 100%;

    .exlanation-wrapper {
      flex: 1;

      .explanation-container {
        background-image: linear-gradient(#ffffff 1.6rem, #ccc 1.7rem);
        background-size: 100% 1.7rem;
        position: relative;
        width: 85%;
        min-height: 85vh;
        padding: 15px 25px;
        border-radius: 10px;
        box-shadow: 1px 0px 26px 17px rgba(0, 0, 0, 1);

        .explanation-nav {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          margin-top: 16px;

          li {
            .link-btn {
              border: none;
              outline: none;
              color: #191a1a;
              cursor: pointer;
              font-size: 1.15rem;
              font-weight: 500;
              padding: 0 7px;
              background: linear-gradient(
                to bottom,
                transparent 50%,
                lightgreen 50%
              );
              transition: all 0.2s ease;

              &.home {
                background: linear-gradient(
                  to bottom,
                  transparent 50%,
                  lightblue 50%
                );
              }

              &:hover {
                border-radius: 10px;
              }
            }
          }
        }

        .explanation-text {
          width: 100%;
          margin-top: 62px;
          line-height: 27.1px;
          text-indent: 10px;
        }
      }
    }

    .quiz-wrapper {
      flex: 1;
      display: flex;
      justify-content: end;

      .quiz-container {
        box-shadow: 1px 0px 26px 17px rgba(0, 0, 0, 1);
        width: 85%;
        height: 85vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;
        padding: 15px 25px;
        position: relative;

        .quiz-final {
          text-align: center;
          place-content: center;
          height: 100%;

          h3 {
            font-weight: 500;
            margin-bottom: 30px;
          }

          button {
            cursor: pointer;

            span {
              padding: 0.8em 1.5em;
            }
          }
        }

        .code-snippet {
          border-radius: 8px;
          font-size: 14px;
        }

        .question-title {
          display: flex;
          gap: 15px;
          border-bottom: 2px solid rgba(128, 128, 128, 0.216);
          padding-bottom: 10px;

          h3 {
            font-size: 18px;
            line-height: 23px;
            font-weight: 600;
          }
        }

        ul {
          li {
            display: flex;
            align-items: center;
            padding: 12.5px;
            border: 1px solid grey;
            border-radius: 8px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 15px;
          }
        }

        .btn-container {
          display: flex;
          position: absolute;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 15px;
          margin-left: auto;
          margin-right: auto;
          width: max-content;

          .main-btn {
            margin: auto;
          }
        }

        .correct {
          background-color: #dffff2;
          border-color: lightgreen;
        }

        .wrong {
          background-color: #ffebeb;
          border-color: lightcoral;
        }
      }
    }
  }
}

.display-linebreak {
  white-space: pre-line;
}

// MEDIA QUERIS
@media screen and (max-width: 1150px) {
  .quiz {
    .wrapper {
      gap: 40px;

      .exlanation-wrapper {
        .explanation-container {
          width: 100%;
        }
      }

      .quiz-wrapper {
        .quiz-container {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .quiz {
    .wrapper {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      flex-direction: column;

      .exlanation-wrapper {
        display: flex;
        justify-content: center;
        .explanation-container {
          width: 80%;
        }
      }

      .quiz-wrapper {
        justify-content: center;

        .quiz-container {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .quiz {
    .wrapper {
      .exlanation-wrapper {
        .explanation-container {
          width: 100%;
        }
      }

      .quiz-wrapper {
        .quiz-container {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .quiz {
    .wrapper {
      .quiz-wrapper {
        .quiz-container {
          .question-title {
            h3 {
              font-size: 16px;
            }
          }

          .code-snippet {
            font-size: 13px;
          }

          ul li {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .quiz {
    .wrapper {
      .quiz-wrapper {
        .quiz-container {
          padding: 15px;

          .question-title {
            h3 {
              font-size: 16px;
            }
          }

          .code-snippet {
            font-size: 13px;
          }

          ul li {
            padding: 7.5px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
